:root {
  --button: rgba(221, 26, 63);
  --text: #FFF;
  --background: rgba(2, 13, 24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

input {
  color: var(--text);
}